<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Travel Recommendations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="attractions">Attractions</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="activities">Activities <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="restaurants">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="share">Share Your Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="viewexperiences">View Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="createexperience">Create an Experience</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Activities</h1>
    {{#each experiences}}
      <div class="card">
        <img class="card-img-top" src="{{image}}" alt="Experience Image">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text">{{experienceType}}</p>
          <p class="card-text">Geolocation: {{geolocation}}</p>
          <p class="card-text">Rating: {{rating}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</body>
</html>